film-modal {
    position: fixed;
    inset: 0;
    z-index: 99;
    transition: opacity 0.2s linear;
    overflow-y: scroll;
}

film-modal::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: var(--bg-color);
    opacity: 0.7;
    z-index: -1;
}

film-modal .modal {
    padding: 25px;
    background-color: var(--bg-color);
    width: 800px;
    max-width: 100%;
    margin: 10vh auto;
    border-radius: 5px;
    border: thin solid rgba(255, 255, 255, 0.1);
}

/*Partie résumé*/
film-modal .modal figure {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-bottom: 1em;
}

@media only screen and (max-width: 500px) {
    film-modal .modal figure {
        flex-direction: column;
    }
}

film-modal .modal img {
    max-width: 500px;
    object-fit: cover;
    margin: auto;
}

film-modal .modal figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

film-modal .modal figure p {
    line-height: 1.3em;
    margin-top: 1em;
}

film-modal .modal figure figcaption .badge {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 99px;
    font-weight: bold;
    font-size: 0.8em;
}

film-modal .modal figure figcaption h1 {
    font-weight: bold;
    font-size: max(2vw, 1.5rem);
}

/*Partie description*/
film-modal .modal div p {
    line-height: 1.4em;
    margin-bottom: 10px;
}

film-modal .modal div p.lg {
    font-size: 2em;
}