header {
    position: sticky;
    top: 0;
    z-index: 20;

    height: 70px;
    padding: 15px var(--container-padding-x);

    display: flex;
    align-items: center;
    gap: 15px;

    background-color: inherit;
    border-bottom: thin solid rgba(255, 255, 255, 0.1);
}

/*Fix anchor scroll offset due a sticky navbar*/
[id]::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

/*Logo*/
header img {
    height: 90%;
    filter: invert(100%);
    margin-right: 20px;
}

/*Links*/
header a {
    opacity: 0.8;
}

header a:hover, header a.active {
    opacity: 1;
}

header a.active {
    font-weight: bold;
}
