:root {
    --slider-height: min(18.5vw, 300px);
}

/*Sliders*/
film-slider {
    display: grid;
    margin-bottom: 50px;
    height: var(--slider-height);
    grid-template-columns: 1fr 7fr 1fr;
    overflow: hidden;
}

film-slider .films {
    position: relative;
    left: 0;
    display: flex;
    width: 100%;
    max-height: var(--slider-height);

    transition: left 0.5s;
}

film-slider .films figure {
    transition: all 0.2s;
    padding: 0.2rem;
    min-width: 25%;
    overflow: hidden;
    z-index: 5;
    position: relative;
}


film-slider .films img {
    transition: opacity 0.2s;
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/*Hover effect*/
film-slider .films figure:hover {
    transform: scale(1.02);
    cursor: pointer;
}

film-slider .films figure:hover::after {
    content: '\25BA';
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

film-slider .films figure:hover img {
    opacity: 0.5;
}

/*Navigation arrow*/
film-slider .next, film-slider .prev {
    position: relative;
    z-index: 10;
    display: flex;
}


film-slider .next svg, film-slider .prev svg {
    height: calc(var(--slider-height) / 3);
    align-self: center;
    opacity: 0.3;
    transition: opacity .3s;
}

film-slider .next:hover svg, film-slider .prev:hover svg {
    opacity: 1;
}

/*Disabled state*/
film-slider .disabled svg, film-slider .disabled:hover svg {
    opacity: 0.1;
}

film-slider .disabled {
    cursor: not-allowed;
}

film-slider .prev svg {
    position: absolute;
    right: 0;
}

/*Hide preloaded cards*/
film-slider .next:before, film-slider .prev:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--bg-color);
}
