top-film {
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    place-content: center;
    padding: 2vw;
    text-align: center;
}

top-film img {
    min-height: 40vh;
    border-radius: 15px;
}

top-film div {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-evenly;
    place-items: center;
}

top-film h1 {
    margin-top: 15px;
    font-size: 3em;
    margin-left: 4vw;
}

top-film button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1.5em;
    border-radius: 15px;
    cursor: pointer;
}