@import "_navbar.css";
@import "_sliders.css";
@import "_modal.css";
@import "_topfilm.css";

:root {
    --container-padding-x: 3vw;
    --bg-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: #fff;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

main {
    max-width: 1920px;
    margin: auto;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0;
}